In [1]:
# ### 2558
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a = int(input())
b = int(input())
print(a+b)

1
2
3

In [3]:
### 10872
# 0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

n = int(input())
s = 1

for i in range(1, n+1):
    s *= i

print(s)

10
3628800

In [12]:
### 2440
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

n = int(input())

for i in range(n,0,-1):
    for j in range(i):
        print('*', end='')
    print()

5
*****
****
***
**
*

In [25]:
# ### 15596
# 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

# 작성해야 하는 함수는 다음과 같다.

# Python 2, Python 3, PyPy, PyPy3: def solve(a: list) -> int
# a: 합을 구해야 하는 정수 n개가 저장되어 있는 리스트
# (0 ≤ a[i] ≤ 1,000,000, 1 ≤ n ≤ 3,000,000)
# 리턴값: a에 포함되어 있는 정수 n개의 합 (정수)

def solve(a):
    return sum(a)

7

In [ ]:
# ### 7287
# 자신이 백준 온라인 저지(BOJ)에서 맞은 문제의 수와
# 아이디를 그대로 출력하는 프로그램을 작성하시오.

print('54')
print('niceplayer')

In [ ]:
# ### 2441
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

n = int(input())
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end='')
    for k in range(i)